@{
  Layout ="_Layout";
}

@model Factory.Models.Machine

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Machines", "Index")</li>
    <li class="breadcrumb-item active" aria-current="page">Create</li>
  </ol>
</nav>

<h1>Add a new machine</h1>

@using(Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add"/>
}